@import './src/styles/utils';

.category__container {
  display: grid;
  font-family: 'MPl';
  grid-template-columns: 1fr 4fr;
  align-items: flex-start;
  padding: 2%;
  padding-right: 5%;

  .category__list {
    display: flex;
    margin-top: 10%;
    justify-content: center;
    margin-right: 20%;
    //position: fixed;
    //top: 0px;

    hr{
      background-color: gray;

    }

    a:hover {
      text-decoration: none;
    }
    .list-group-item-action:hover {
      color: $lightorange;
    }

  }

  .bigCategoryBtn {
    border: solid 1px;
    border-radius: 0.25rem;

    &:hover {
      background-color: #ed2f3b;
      color: white;
    }

    &:focus-within {
      background-color: #ed2f3b;
      color: white;
    }
  }

  .list-group-item {
    text-align: center;

    border-radius: 0.25rem !important;
  }


  .category__show {

    .category__line {
      align-items: center;
      margin-bottom: 10px;

      .category__btn {
        border: 0;
        outline: 0;
        background-color: white;
        font-size: large;
      }

      .category_title {
        font-size: large;
        font-weight: 500;
      }

      .item__header {
        display: flex;
        align-items: center;

        .dropdown {
          border: 0;
          outline: 0;
          background-color: white;
          border-radius: 0%;
        }

        .dropdown-toggle {
          border: 0;
          background-color: #ed2f3b;
          border-radius: 0;
          margin-top: 2px;
          height: 41px;
        }

        .input {
          text-align: center;
          margin-top: 2px;
          font-size: x-large;
          display: flex;
          border: 3px solid #ed2f3b;
        }

        .input::placeholder {
          font-size: medium;
        }

        .input:focus {
          outline: 0;
          border: 3px solid #ed2f3b;
        }

        .searchBtn {
          border: 0;
          background: 0;
        }
      }

    }

    .category__items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;

        .category__item {
          width: 150px;
          height: 150px;
          padding: 10px;
          border-radius: 50%;
          margin-bottom: 10px;
          border: 1px solid gray;
          background-color: white;

        }

        .item__img {
          width: 100px;
          height: 100px;
        }

        .category__name {
          font-size: large;
        }
      }

    }
  }

  .form-check__group {
    display: table;
    flex-direction: row;

    .filterIcon {
      margin-right: 10px;

      display: table-cell;
    }

    .form-check {
      font-size: medium;
      vertical-align: middle;
      display: table-cell;
    }

    .form-check-label {
      margin-right: 10px;
    }
  }
}

