@import './src/styles/utils';
.secondEmail__line{
  background-color: rgba(236, 240, 241, 1);
}
.changePasswordPage {
  width: 500px;
  margin: auto;
  font-family: 'MPl';
  font-size: medium;
  margin-top: 8%;

  .title {
    font-size: x-large;
    font-family: 'MPb';
    
  }
  .line__divider{
      background-color: rgba(232, 232, 232, 1);
    }
  .buttonArea {
    display: block;
    margin: auto;

    .cancelButton {
      background-color: transparent !important;
      border-color: $red !important;
      color: $red;

      &:hover,
      &:active {
        background-color: $orange !important;
        color: white !important;
        border-color: $orange !important;
      }
    }

    .submitButton {
      //width: 20%;
      margin-left: 10px;
      background-color: $lightorange !important;
      border-color: $lightorange !important;
      color: white;

      &:hover,
      &:active {
        background-color: $orange !important;
        color: white !important;
        border-color: $orange !important;
      }
    }
  }
}

.setEmail {
  width: 20%;
  margin: auto;
  text-align: center;
  margin-top: 12%;
  .title {
    font-family: 'MPb';
    text-align: left;
    font-size: 20px;
    margin-bottom: 2%;
    margin-left: 2%;
  }
  .secondEmailContainer {
    width: 100%;
    text-align: center;
  }
  .secondEmail {
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }
  .secondEmailButton {
    margin-left: 2%;
    vertical-align: middle;
  }
  .buttonArea {
    display: block;
    margin: auto;

    .submitButton {
      // width: 20%;
      margin-left: 10px;
      background-color: $lightorange !important;
      border-color: $lightorange !important;
      color: white;

      &:hover,
      &:active {
        background-color: $orange !important;
        color: white !important;
        border-color: $orange !important;
      }
    }

    .cancelButton {
      background-color: transparent !important;
      border-color: $red !important;
      color: $red;

      &:hover,
      &:active {
        background-color: $orange !important;
        color: white !important;
        border-color: $orange !important;
      }
    }
  }
}
