@import './src/styles/utils';

.changeUserInfo {
  width: 500px;
  margin: auto;
  font-family: 'MPl';
  margin-top: 8%;

  .shownChange {
    font-size: x-large;
    font-family: 'MPb';
  }

  .changeInfoForm {
    margin-top: 15px;
  }

  .buttonArea {
    display: block;
    margin: auto;

    .submitButton {
      // width: 20%;
      margin-left: 10px;
      background-color: $lightorange !important;
      border-color: $lightorange !important;
      color: white;

      &:hover,
      &:active {
        background-color: $orange !important;
        color: white !important;
        border-color: $orange !important;
      }
    }

    .cancelButton {
      background-color: transparent !important;
      border-color: $red !important;
      color: $red;

      &:hover,
      &:active {
        background-color: $orange !important;
        color: white !important;
        border-color: $orange !important;
      }
    }
  }

  .pickerRow {
    width: 100%;
    margin: auto;

    .birthDayPicker {
      width: 100%;

      input {
        width: 100%;
        height: 38px;
        border: #c7ced4 1px solid;
        border-radius: 0.25rem;
        padding-left: 15px;
        padding-right: 15px;
        font-size: medium;
      }
    }

    .react-datepicker__day--selected {
      background-color: $lightorange !important;
    }

    .react-datepicker__day--keyboard-selected {
      background-color: $yellow !important;
    }
  }

  .react-datepicker__day--selected {
    background-color: $lightorange !important;
  }

  .react-datepicker__day--keyboard-selected {
    background-color: $yellow !important;
  }
}
