@import '../../styles/utils.scss';

.myAllergies {
  margin-top: 8%;
  .changeAllergyInfo {
    font-size: 22px;
    margin-bottom: 2%;
  }
  .checkboxGroup {
    font-size: 15px;
    margin-bottom: 3%;
  }

  .buttonArea {
    display: block;
    margin: auto;
    text-align: center;

    .submitButton {
      // width: 20%;
      margin-left: 10px;
      background-color: $lightorange !important;
      border-color: $lightorange !important;
      color: white;

      &:hover,
      &:active {
        background-color: $orange !important;
        color: white !important;
        border-color: $orange !important;
      }
    }

    .cancelButton {
      background-color: transparent !important;
      border-color: $red !important;
      color: $red;

      &:hover,
      &:active {
        background-color: $orange !important;
        color: white !important;
        border-color: $orange !important;
      }
    }
  }
}
