@import 'styles/utils';

.header {
  padding: 10px 60px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(218, 223, 225, 1);
  background-color: rgba(237, 47, 59, 0.7);
  color: white;
  margin-bottom: 20px;

  .menu_login {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 52%;
    .menuItems {
      display: flex;
      flex-direction: row;
      align-items: center;
      // width: 80%;
      margin-right: 8%;
      .item {
        align-items: center;
        display: flex;
        // margin-left: 5%;
        align-items: center;
        .item__name {
          text-align: center;
          margin: 0px 10px;
          font-weight: 700;
        }
        .item__name:hover {
          color: brown;
        }
      }
      .log__btn {
        text-align: center;
        margin: 10px 20px;
      }
    }
  }
  .headerWidth {
    width: 40%;
  }

  .serviceName {
    color: var(--text);
    align-items: center;
    font-size: 50px;
    font-family: 'thickEng';
    width: 50%;
    margin-left: 20%;
    .logo {
      text-decoration: none;
      color: inherit;
      transition: margin 0.25s;

      svg {
        width: 76px;
        height: 40px;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 7px) translateZ(0);
        fill: none;
        stroke: var(--stroke, var(--line));
        stroke-linecap: round;
        stroke-width: 2px;
        stroke-dasharray: var(--offset, 69px) 278px;
        stroke-dashoffset: 361px;
        transition: stroke 0.25s ease var(--stroke-delay, 0s),
          stroke-dasharray 0.35s;
      }

      &:hover {
        --spacing: 4px;
        --stroke: var(--line-active);
        --stroke-delay: 0.1s;
        --offset: 180px;
        color: coral;
      }
    }
  }

  .homeImage {
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .buttons:hover {
    text-decoration: none !important;
    border-bottom: 0 !important;
  }
  .myFavouriteBtn:hover {
    color: brown;
  }
  .logoutBtn:hover {
    color: brown;
  }
  .loginBtn:hover {
    color: brown;
  }
  .joinBtn:hover {
    color: brown;
  }
  .myPageBtn:hover {
    color: brown;
  }

  .buttonGroup {
    margin-right: 20px;
  }

  input::placeholder {
    font-size: 8px;
  }

  .navMom {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-top: grey dotted 1px;
    border-bottom: grey dotted 1px;
  }

  .mainLink {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .navigationGroup {
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;

    width: 65%;
  }

  .mainBrand {
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin-left: 200px;
    padding-top: 0%;
    margin-right: 10px;
  }

  .links {
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    font-weight: 500;
    font-family: 'MPb';
    color: black;

    :hover {
      border-bottom: black ridge 1px;
      color: #ed2f3b;
    }
  }

  .searchSection {
    display: inline-block;
    text-align: right;
    justify-content: right;
    align-items: right;
    margin-left: 150px;
  }

  a:hover {
    text-decoration: none !important;
    border-bottom: 0 !important;
  }
}
