@import '../../styles/utils.scss';

.loginPage {
  margin-top: 7%;
  .container {
    width: 27%;
    .under__section{
      display: grid;
      grid-template-rows: 1fr 1fr;
      align-items: flex-end;
      .login__btns{
        display: grid;
         grid-template-columns: 1fr 1fr;
         justify-items: center;
         .login__btn{
           border: 1px solid rgba(237, 47, 59, 0.8);
           background-color: white;
           color: rgba(237, 47, 59, 0.8);
           font-size: medium;
           width: 150px;
           height: 30px;
           transition: all ease-in-out 0.3s;
           &:hover{
             background-color: rgba(237, 47, 59, 0.8);
             color: white;
           }
         }
         .auto__login{
           display: flex;
           justify-content: flex-end;
           align-items: center;
           width: 150px;
           height: 30px;
           font-size: 12px;
           .check__auto{
             color: gray;
             &:hover,
             &:active,
             &:focus{
                color: black;
             }
             .auto__checked{
               color: rgba(237, 47, 59, 0.8);
             }
           }
           .auto__login__title{
             margin-left: 5px;
           }
         }
      }
      .other__btns{
        display: flex;
        justify-content: space-around;
        .userGroup:hover{
           color:rgba(237, 47, 59, 0.8) !important;
        }
      }
    }
  }
  .title {
    font-family: 'MPb';
    font-size: 20px;
    margin-bottom: 2%;
    margin-left: 2%;
    font-weight: 700;
  }
  .inputGroup {
    width: 100%;
    margin: auto;
  }
  .formBody {
    font-family: 'MPl';
    font-size: 13px;
  }
  .rememberLogin {
    text-align: right;
  }
  .checkLogin {
    text-align: right;
  }
  .loginButton {
    text-align: right;
  }

  .loginGroup {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 2%;
  }
  .userSection:hover {
    color: crimson;
    text-decoration: none;
  }
  .userConTrol {
    text-align: center;
    margin-top: 2%;
  }
  .userGroup:hover,
  :active,
  :visited {
    text-decoration: none;
  }
}
