@font-face {
  font-family: 'engGood';
  src: url('../styles/fonts/engGood.ttf');
}

@font-face {
  font-family: 'buttonFont';
  src: url('../styles/fonts/buttonFont.ttf');
}

@font-face {
  font-family: 'naviFont';
  src: url('../styles/fonts/naviFont.ttf');
}

@font-face {
  font-family: 'thickEng';
  src: url('../styles/fonts/thickEng.ttf');
}

@font-face {
  font-family: 'popFont';
  src: url('../styles/fonts/popFont.ttf');
}

@font-face {
  font-family: 'typo';
  src: url('../styles/fonts/typo.ttf');
}

@font-face {
  font-family: 'ss';
  src: url('../styles/fonts/ss.ttf');
}

@font-face {
  font-family: 'tway';
  src: url('../styles/fonts/tway.ttf');
}

@font-face {
  font-family: 'dm';
  src: url('../styles/fonts/dm.ttf');
}

@font-face {
  font-family: 'MPb';
  src: url('../styles/fonts/NotoSans-Bold.ttf');
}
@font-face {
  font-family: 'MPl';
  src: url('../styles/fonts/NotoSans-Light.ttf');
}

@font-face {
  font-family: 'BMHANNAttf';
  src: url('../styles/fonts/BMHANNA.ttf');
}
@font-face {
  font-family: 'BMJUA';
  src: url('../styles/fonts/BMJUA.ttf');
}

$red: #ed2f3b;
$orange: rgba(237, 47, 59, 0.9);
$lightorange: rgba(240, 96, 106, 1);
$yellow: #facd89;
$green: #3a8082;
