@import './src/styles/utils';

.findEmail {
  width: 500px;
  margin: 11% auto auto;

  .title {
    padding-left: 20px;
    padding-bottom: 15px;
    font-size: x-large;
    font-weight: bold;
    font-family: 'MPb';
  }
  .secondEmailInput {
    margin-right: 3%;
    width: 82%;
    margin-top: auto;
    margin-bottom: auto;
  }

  .buttonArea {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;

    .submitButton {
      background-color: white;
      border-color: $lightorange;
      color: $lightorange;

      &:hover,
      &:focus,
      &:active {
        background-color: $lightorange !important;
        color: white !important;
        border-color: $lightorange !important;
      }
    }
  }
  .alertArea {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 82%;
  }
}
